.body
    display flex
    background url(./img/noise.png) repeat

    .groovy-inputs, .groovy-outputs
        flex-basis 50%
        padding 2vw
        box-sizing border-box
        
    .groovy-inputs
        
        p
            color #fffaf0
            text-shadow 0 0 2px groovyEarth
        
        a
            text-decoration none
            color #ffcc5e
            text-shadow 0
        
        input, textarea, span.helper
            display block
            width 100%
            box-shadow 0 0 5px #333
        
        input, textarea
            background-color groovyEarth
            border 3px solid groovyYellow
            border-radius 10px 10px 0 0
            padding 10px
            box-sizing border-box
            font-family Moderna
            color white
            letter-spacing 1px
        
        input[type=checkbox]
            position absolute
            left -200vw
        
        input:focus
            outline none

        span.helper
            box-sizing border-box
            margin 0 0 1em 0
            padding 1em
            color groovyEarth
            background-color groovyCream
            border-radius 0 0 10px 10px
            border 3px solid groovyYellow
            
            a
                color #a77c2c
        
        .social
            display flex
            justify-content space-around
            padding 20px 10px
            
            label
                background-color groovyMaroon
                border 5px solid groovyCream
                color groovyCream
                box-shadow 2px 0px 10px #555
                padding 0.5em 1em
                border-radius 10px
                font-family Thirsty
                transition background .2s ease, box-shadow .1s ease
            
            label:active
                box-shadow none
            
            .facebook:hover 
                background-color #3B5998

            .twitter:hover
                background-color #4099ff
            
            .google:hover
                background-color #dc4e41
    
    .groovy-outputs
        .code
            background-color groovyEarth
            padding 10px
            border-radius 10px
            border 5px solid groovyCream
            box-shadow 0 0 5px #333
            color groovyCream
            font-size 18px
            line-height 1.2
            
            .meta 
                color #CD5C5C

            .property 
                color #9ACD32
                font-weight bold

            .value
                color #ff0

            .comment 
                opacity .5
        
        button
            padding .5em 1em
            background-color groovyRed
            border 5px solid groovyYellow
            font-family Thirsty
            color groovyCream
            border-radius 10px
            font-size 20px
            box-shadow 0 0 5px black
            margin-top 1em
            transition box-shadow .1s ease
        
        button:active
            box-shadow none
        
        button:focus
            outline none