.body
    display flex
    background url(./img/noise.png) repeat

    .groovy-inputs, .groovy-outputs
        flex-basis 50%
        padding 2vw
        box-sizing border-box
        
    .groovy-inputs
        
        input, textarea, span.helper
            display block
            width 100%
        
        input, textarea
            background-color groovyCream
            border 3px solid groovyMaroon
            border-radius 10px
            padding 5px 10px
            box-sizing border-box
        
        input[type=checkbox]
            position absolute
            left -100vw

        span.helper
            box-sizing border-box
            margin 0.5em 0 1em 0
            padding 0 1em
            color groovyCream
            text-shadow 2px 1px 1px groovyEarth
        
        .social
            display flex
            justify-content space-around
            
            label
                background-color groovyMaroon
                border 5px solid groovyCream
                color groovyCream
                box-shadow 2px 0px 10px #555
                padding 0.5em 1em
                border-radius 10px
                font-family Thirsty
        
