footer
    background-color groovyEarth
    clear both
    text-align center
    padding 2em 0
    box-shadow inset 0 0 20px black
    
    p
        margin 1em 0 0 0
        color groovyOrange
    
    .icons
        display flex
        justify-content center
        
    a.share 
        box-shadow 2px 0px 10px black
        padding 0.5em 1em
        border-radius 10px
        color white
        font-family Thirsty
        margin 0 1em
        border 5px solid groovyCream
    
    a 
        color groovyCream
        text-decoration none
        
        
    .twitter
        background-color #4099ff
    
    .facebook
        background-color #3B5998