header
    display flex

    .groovy-title
        width 40%
        
        h1
            font-size 6em
            text-align center
            transform rotate(-15deg)
            line-height 1
            span
                display block
                font-size 1.8rem
    
    .groovy-desc
        align-self center
        padding 5%
        

    
