header
    display flex
    background url(./img/tile2.jpg) repeat

    .groovy-title
        width 40%
        
        h1
            text-align center
            transform rotate(-15deg)
            line-height 1
            
            
            span
                display block
                font-size 1.8rem
                color groovyYellow
                text-shadow: 2px 2px 2px groovyMaroon
    
    .groovy-desc
        align-self center
        padding 5%