header
    display flex
    padding 2em 0
    background url(./img/tile2.jpg) repeat
    box-shadow inset 0 0 20px black

    .groovy-title
        flex-basis 40%
        
        h1
            text-align center
            transform rotate(-15deg)
            line-height 1
            
            span
                display block
                font-size 1.8rem
                color #3a2e12
                text-shadow: none
    
    .groovy-desc
        align-self center
        padding 10px
        max-width 600px
        flex-basis 40%
        margin auto
        background groovyCream
        border-radius 15px
        border 5px solid groovyRed
        box-shadow 0 0 15px black
        color groovyEarth