h1,h2,h3
    font-family Thirsty

h1
    font-size 6rem

h2
    font-size 3rem

h3
    font-size 2rem
    
p, span
    font-family Moderna

span.helper
    font-size 0.8em

.code
    font-family Consolas
    span
        font-family Consolas