h1,h2,h3
    font-family Thirsty

h1
    font-size 6rem
    color #ffd57a
    text-shadow: 0 0 25px groovyEarth

h2, h3
    font-size 3rem
    color groovyCream
    text-shadow: 2px 4px 0 groovyMaroon, 4px 0px 0px groovyRed, 2px -2px 0 groovyEarth
    text-align center

h3
    font-size 2rem
    
p, span
    font-family Moderna

span.helper
    font-size 0.9em

.code
    font-family Consolas
    span
        font-family Consolas