@import './_*'

html, body
    margin 0
    padding 0

main
    box-sizing border-box

    .groovy-inputs, .groovy-outputs
        width 50%
        float left
        padding 1em
        box-sizing border-box
        
    h1,h2,h3
        font-family Thirsty